.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.settings/
.project
.classpath

# Intellij IDEA
.idea/
*.iml

# Maven
/target/

# Generated test configuration files
/_TestData/configuration.dtd
/_TestData/Configuration.xml
/_TestData/ClickToOpen.rl
/_TestData/classes
/_TestData/code
/_TestData/data

